<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="demo">
			<p style="color: red;">1.模拟filterBy</p>
			<input v-model="search" />
			<ul>
				<li v-for="a in computedarr">id:{{a.id}} name:{{a.name}}</li>
			</ul>
			
			<p style="color: red;">2.模拟limitBy</p>
			<p>{{computedtext}}</p>
		</div>
		<script src="../../js/vue.js"></script>
		<script>
			new Vue({
				el: "#demo",
				data: {
					search: "",
					arr: [{
						name: "广州",
						id: 5
					}, {
						name: "青岛",
						id: 4
					}, {
						name: "深圳",
						id: 7
					}, {
						name: "北京",
						id: 1
					}],
					text:"abcdefghijk"
				},

				computed: {
					computedtext:function(){
						return this.text.slice(2,5)
					},
					//filterBy
					computedarr: function() {
						var self = this;
						/*this.search
						this.arr*/
						var newArr = this.arr.filter(function(value) {
							//window
							return value.name.indexOf(self.search) !== -1
						})
						return newArr
					}
				}
			})
		</script>
	</body>

</html>